.calendar_wrap {
  width: 95%;
  margin: auto;
  margin-top: var(--margin-sm);
  margin-bottom: var(--margin-sm);
}

.filters {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}

.filters span {
  padding: 2px 5px;
  background-color: #fafafa;
  margin-right: 10px;
  margin-bottom: 10px;
  min-width: 30px;
  text-align: center;
  background-color: #e8eaf6;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
}

.form_wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: rgba(255,255,255,0.5);
  z-index: 100;
}

.form {
  width: 300px;
  min-height: 150px;
  padding: 20px;
  border: solid 1px #e8eaf6;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: auto;
  margin-top: 20%;
  background-color: #fff;
  box-shadow: 1px 1px 25px rgba(0,0,0,0.1);
}

.form > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 10px;
}

.form > div * {
  width: 100%;
}

.form .form_btns {
  margin-top: auto;
  margin-bottom: 0px;
  cursor: pointer;
}

.btn_delete {
  text-align: center;
  width: 100%;
  padding: 5px;
  font-size: 0.8rem;
  background-color: #fce4ec;
  color: #e91e63;
  border: none;
  box-shadow: none;
  letter-spacing: 0.5px;
}

.btn_cancel {
  text-align: center;
  width: 100%;
  padding: 5px;
  font-size: 0.8rem;
  background-color: #e1f5fe;
  color: #03a9f4;
  border: none;
  box-shadow: none;
  letter-spacing: 0.5px;
}

.btn_submit {
  text-align: center;
  width: 100%;
  padding: 5px;
  font-size: 0.8rem;
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 3px;
  border: none;
  box-shadow: none;
  letter-spacing: 0.5px;
}
